
-if current_user

  - if todo.finished == false

    %div{ id: "topWrapperTodos_#{todo.id}"}
      = link_to new_todo_path,  style: "  float: left;padding-left: 15px;transform: scale(4);margin-top: 21px;color: #FFF;}" do
        %i.fa.fa-plus-circle
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title{:style => "font-size: 35px;"}= todo.title
        %div.list-group{:style =>  'list-style-type: none;'}
          %div.panel-body{id: "todoWrapper_#{todo.id}" }
            %li.a.list-group-item.active{ :style => 'font-size: 25px;'}
              =link_to toggle_todo_path(todo), remote: true, method: :patch, :class => "btn btn-primary todo_#{todo.id} checkBox", :style => "background-color: #FFF; color: #EB6864; font-weight: bold; float: left;" do
                %i.fa.fa-check-circle
              =todo.body
              =link_to 'edit Todo', edit_todo_path(todo), :class => "btn btn-primary", id: "edit-todo", :style => "background-color: #FFF; color: #EB6864; font-weight: bold; float: right"
              =link_to 'delete Todo', todo_path(todo), method: :delete, :class => "btn btn-success", :confirm => 'Are you sure?', :style => "background-color: #FFF; color: green; font-weight: bold; float: right"

  - elsif todo.finished == true
    %div.panel.panel-success
      %div.panel-heading
        %h3.panel-title{:style => "font-size: 35px;"}= todo.title
          
      %div.list-group{:style =>  'list-style-type: none;'}
        %div.panel-body
        %li{:style => 'font-size: 25px;'}
          =todo.body 
          =link_to 'delete Todo', todo_path(todo), method: :delete, :class => "btn btn-success", :style => "background-color: #FFF; color: green; font-weight: bold"
-else

  - if todo.finished == false

    %div{ id: "topWrapperTodos_#{todo.id}"}
      %div.panel.panel-info
        %div.panel-heading
          %h3.panel-title{:style => "font-size: 35px;"}= todo.title
        %div.list-group{:style =>  'list-style-type: none;'}
          %div.panel-body{id: "todoWrapper_#{todo.id}" }
            %li.a.list-group-item.active{:style => 'font-size: 25px;'}
              =todo.body

  - elsif todo.finished == true
    %div.panel.panel-success
      %div.panel-heading
        %h3.panel-title{:style => "font-size: 35px;"}= todo.title
          
      %div.list-group{:style =>  'list-style-type: none;'}
        %div.panel-body
        %li{:style => 'font-size: 25px;'}
          =todo.body 