= render :partial => "layouts/nav"
%div.container
  %div.center-block
    %div.col-md-12.text-center
      -if user_signed_in?
        %ul{:style => "list-style-type: none;"}
          %li{:style => "font-size: 30px"} "You have <span class="btn btn-default" style="font-size:60px; font-weight: bold;">#{current_user.todos.count}</span> todos ToDo"
%div.container
  %div.center-block
  %h4= current_user.username || current_user.email
- if user_signed_in?
  %div.unfinsihedTodos.col-md-12.text-center
    - current_user.todos.each do |todo|
      =render "shared/panels", todo: todo
    %div.container
      %div.center-block
      - @users.each do |user|
        %div.allUserTodos.col-md-12.text-center
          %h4= user.username || user.email
          - user.todos.each do |todo|
            =render "shared/panels", todo: todo
- else
  %div.container
    %div.center-block  
      - @users.each do |user|
        %div.allUserTodos.col-md-6.text-center
          %h4= user.username || user.email
          - user.todos.each do |todo|
            =render "shared/panels", todo: todo