<!DOCTYPE html>
<html>
<head>
  <title>TodoJavascript</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "journal", :media => "all" %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

</head>
<body>

<%= render partial: "shared/flash_messages", flash: flash %> 
<%= yield %>

</body>
</html>
